<a href="https://colab.research.google.com/github/amrahmani/Python/blob/main/Chapter_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter 2: Data Structures**

**Accessing List Elements**

In [ ]:
my_list = [10, 20, 30, 40, 50]

# Print the first item (index 0)
print("First item:", my_list[0])

# Print the last item (index 4)
print("Last item:", my_list[4])

# Print the third item (index 2)
print("Third item:", my_list[2])

# Test with an invalid index (e.g., index 5)
try:
    print("Invalid item:", my_list[5]) #This will cause an error
except IndexError:
    print("Error: Index out of range.")

First item: 10
Last item: 50
Third item: 30
Error: Index out of range.

**Modifying Lists**

In [1]:
# Initial list of colors
colors = ["red", "green", "blue"]
print("Initial list:", colors)

# Change one color (e.g., change "green" to "yellow")
colors[1] = "yellow"
print("List after changing 'green' to 'yellow':", colors)

# Add a fourth color (e.g., "purple")
colors.append("purple")
print("List after adding 'purple':", colors)

# Remove one color (e.g., remove "red")
colors.remove("red")
print("List after removing 'red':", colors)

Initial list: ['red', 'green', 'blue']
List after changing 'green' to 'yellow': ['red', 'yellow', 'blue']
List after adding 'purple': ['red', 'yellow', 'blue', 'purple']
List after removing 'red': ['yellow', 'blue', 'purple']

**List Length and Slicing**

In [2]:
fruits = ["apple", "banana", "cherry", "date", "tangerin", "fig"]

# Print the length of the list
print("Length of the list:", len(fruits))

# Slice out the middle two items
middle_two = fruits[2:4]  # Index 2 (cherry) to index 4 (exclusive)
print("Middle two fruits:", middle_two)

# Experiment with different slice ranges:
# First three items
first_three = fruits[0:3]
print("First three fruits:", first_three)

# Last three items
last_three = fruits[-3:] # From the third element from the end to the end
print("Last three fruits:", last_three)

# Every other item
every_other = fruits[::2] # From the start to the end, step by 2.
print("Every other fruit:", every_other)

# The list reversed
reversed_list = fruits[::-1]
print("Reversed list:", reversed_list)

# Items from index 1 to 4 (exclusive)
range_1_to_4 = fruits[1:4]
print("Fruits from index 1 to 3:", range_1_to_4)

Length of the list: 6
Middle two fruits: ['cherry', 'date']
First three fruits: ['apple', 'banana', 'cherry']
Last three fruits: ['date', 'elderberry', 'fig']
Every other fruit: ['apple', 'cherry', 'elderberry']
Reversed list: ['fig', 'elderberry', 'date', 'cherry', 'banana', 'apple']
Fruits from index 1 to 3: ['banana', 'cherry', 'date']

**Accessing Tuples**

In [3]:
# Create a tuple of 5 numbers
my_tuple = (10, 20, 30, 40, 50)

# Print the second item (index 1)
print("Second item:", my_tuple[1])

# Print the last item (index -1)
print("Last item:", my_tuple[-1])

# Slice the first three items (index 0, 1, 2)
first_three = my_tuple[0:3]
print("First three items:", first_three)

#List slicing comparison
my_list = [10, 20, 30, 40, 50]

print("List second item:", my_list[1])
print("List last item:", my_list[-1])
print("List first three items:", my_list[0:3])

#Demonstrating a key difference between tuples and lists.
#Tuples are immutable. Lists are mutable.
#my_tuple[0] = 5 #this will produce an error
my_list[0] = 5
print("Modified list:", my_list)

Second item: 20
Last item: 50
First three items: (10, 20, 30)
List second item: 20
List last item: 50
List first three items: [10, 20, 30]
Modified list: [5, 20, 30, 40, 50]

**Tuples vs. Lists**

In [5]:
# Create a list with 4 items
my_list = ["apple", "banana", "cherry", "date"]

# Convert the list to a tuple
my_tuple = tuple(my_list)

# Print the list and the tuple
print("List:", my_list)
print("Tuple:", my_tuple)

# Try modifying the list
my_list[0] = "apricot"
print("Modified List:", my_list)

# Try modifying the tuple (this will cause an error)
my_tuple[0] = "apricot"

#Print the tuple again to show it was not modified.
print("Tuple after attempted modification:", my_tuple)

List: ['apple', 'banana', 'cherry', 'date']
Tuple: ('apple', 'banana', 'cherry', 'date')
Modified List: ['apricot', 'banana', 'cherry', 'date']

TypeError: 'tuple' object does not support item assignment