<a href="https://colab.research.google.com/github/amrahmani/Python/blob/main/Chapter_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter 1: Data Types and Operators**

**Data Types**

In [ ]:
# This is a single-line comment.

"""
This is a multi-line comment.
It can span multiple lines String
and is often used for docstrings.
"""

print("Hello, world!")  # Print the first message
print("Python is fun!") # Print the second message

Hello, world!
Python is fun!

In [5]:
# Create variables with different data types
"""
Integers (int) are whole numbers: x = 5
floats (float) are decimals: y = 5.5
strings (str) are text: z = "hello"
Boolean (True, False): w = True
"""
x = 5
y = 5.5
z = "hello"
w = True
# Print the values of the variables
print('Integer variable:', x)
print("Float variable:", y)
print("String variable:", z)
print("Boolean variable:", w)

# Print the data types of the variables using type()
print("Data type of integer_variable:", type(x))
print("Data type of float_variable:", type(y))
print("Data type of string_variable:", type(z))
print("Data type of Boolean_variable:", type(w))

Integer variable: 5
Float variable: 5.5
String variable: hello
Boolean variable: True
Data type of integer_variable: <class 'int'>
Data type of float_variable: <class 'float'>
Data type of string_variable: <class 'str'>
Data type of Boolean_variable: <class 'bool'>

In [4]:
# Create an integer and a float
integer_value = 19
float_value = 19.74

# Cast the float to an integer
integer_from_float = int(float_value)

# Print the original float, integer and the cast integer
print("Original float:", float_value)
print("Integer cast from float:", integer_from_float)
print("Original Integer:", integer_value)

Original float: 19.74
Integer cast from float: 19
Original Integer: 19

In [6]:
# Create two string variables
first_name = "John"
last_name = "Smith"

# Concatenate the strings with a space in between
full_name = first_name + " " + last_name

# Print the concatenated string and its length
print("Full name:", full_name)
print("Length of full name:", len(full_name))

Full name: John Smith
Length of full name: 10

In [14]:
name = "John"
age = 50
pi = 3.14159

# Basic usage
print(f"My name is {name} and I am {age} years old.")

# Including expressions
print(f"Next year, I will be {age + 1} years old.")

# Formatting numbers
print(f"The value of pi is approximately {pi:.2f}") #rounds pi to 2 decimal places

#Calling a function
def multiply(a, b):
    return a * b

print(f"2 multiplied by 5 is {multiply(2,5)}")

# Using variables in the string.
print(f"{name=}, {age=}") #prints variable name and value.

My name is John and I am 50 years old.
Next year, I will be 51 years old.
The value of pi is approximately 3.14
2 multiplied by 5 is 10
name='John', age=50

In [7]:
a = "5"; b = 2; print(a + str(b)).

52

**Operators**

In [2]:
# Create two integer variables
num1 = 12
num2 = 4

# Addition
addition_result = num1 + num2
print(f"{num1} + {num2} = {addition_result}")

# Subtraction
subtraction_result = num1 - num2
print(f"{num1} - {num2} = {subtraction_result}")

# Multiplication
multiplication_result = num1 * num2
print(f"{num1} * {num2} = {multiplication_result}")

# Division
division_result = num1 / num2
print(f"{num1} / {num2} = {division_result}")

# Integer Division
integer_division_result = num1 // num2
print(f"{num1} // {num2} = {integer_division_result}")

# Modulus (remainder)
modulus_result = num1 % num2
print(f"{num1} % {num2} = {modulus_result}")

# Exponentiation
exponentiation_result = num1 ** num2
print(f"{num1} ** {num2} = {exponentiation_result}")

12 + 4 = 16
12 - 4 = 8
12 * 4 = 48
12 / 4 = 3.0
12 // 4 = 3
12 % 4 = 0
12 ** 4 = 20736

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
sum_result = num1 + num2
print("The sum is:", sum_result)

Enter the first number: 1
Enter the second number: 2
The sum is: 3.0

In [ ]:
# Get the meal cost from the user
meal_cost = float(input("Enter the cost of the meal: $"))

# Calculate the tip (15%)
tip_amount = meal_cost * 0.15

# Calculate the total bill
total_bill = meal_cost + tip_amount

# Print the results
print("Meal Cost: $", meal_cost)
print("Tip (15%): $", tip_amount)
print("Total Bill: $", total_bill)

Enter the cost of the meal: $100
Meal Cost: $ 100.0
Tip (15%): $ 15.0
Total Bill: $ 115.0