<a href="https://colab.research.google.com/github/amrahmani/Python/blob/main/Python_Chapter_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter 2: Data Structures**

**Accessing List Elements**

In [ ]:
my_list = [10, 20, 30, 40, 50]

# Print the first item (index 0)
print("First item:", my_list[0])

# Print the last item (index 4)
print("Last item:", my_list[4])

# Print the third item (index 2)
print("Third item:", my_list[2])

# Test with an invalid index (e.g., index 5)
try:
    print("Invalid item:", my_list[5]) #This will cause an error
except IndexError:
    print("Error: Index out of range.")

First item: 10
Last item: 50
Third item: 30
Error: Index out of range.

**Modifying Lists**

In [3]:
# Start with a list of 3 colors
colors = ["red", "green", "blue"]
print("Initial list:", colors)

# Change one color
colors[1] = "yellow"
print("List after changing one color:", colors)

# Add a fourth color
colors.append("purple")
print("List after adding a fourth color:", colors)

# Print its length
print("Length of the list:", len(colors))

# Remove one color
colors.remove("blue")
print("List after removing one color:", colors)
colors.pop(1)
print("List after removing one color:", colors)

Initial list: ['red', 'green', 'blue']
List after changing one color: ['red', 'yellow', 'blue']
List after adding a fourth color: ['red', 'yellow', 'blue', 'purple']
Length of the list: 4
List after removing one color: ['red', 'yellow', 'purple']
List after removing one color: ['red', 'purple']

In [4]:
# Create a list
my_list = [10, 20, 30, 40]

# Slice the list to get [20, 30]
sliced_list = my_list[1:3]  # Remember that the end index is exclusive

# Print the sliced list
print("Sliced list:", sliced_list)  # Output: [20, 30]

# Try slicing "hello" to get "he"
my_string = "hello"
sliced_string = my_string[0:2]  # Or more simply: my_string[:2]

# Print the sliced string
print("Sliced string:", sliced_string)  # Output: he

Sliced list: [20, 30]
Sliced string: he

In [5]:
# Create a list
vals = [10, 20, 30, 40, 50, 60]

# Slice every third element: [10, 40]
sliced_vals = vals[::3]

# Print the sliced list
print("Sliced list:", sliced_vals)

# Reverse the sliced list
reversed_vals = sliced_vals[::-1]  # Create a new reversed list

# Print the reversed list
print("Reversed sliced list:", reversed_vals)

# Try reversing "Python"
my_string = "Python"
reversed_string = my_string[::-1]

# Print the reversed string
print("Reversed string:", reversed_string)

Sliced list: [10, 40]
Reversed sliced list: [40, 10]
Reversed string: nohtyP

In [6]:
# Start with the list [7, 6, 5]
my_list = [7, 6, 5]

# Set the element at index 1 to 9
my_list[1] = 9

# Append 8, 7, and 8 to the list
my_list.append(8)
my_list.append(7)
my_list.append(8)

# Remove the first occurrence of 5
my_list.remove(5)

# Print the count of 8 in the list
count_of_8 = my_list.count(8)
print("Count of 8:", count_of_8)

# Print the final list
print("Final list:", my_list)

Count of 8: 2
Final list: [7, 9, 8, 7, 8]

In [7]:
# Create a list of 4 fruit names
fruit_list = ["orange", "apple", "banana", "grape"]

# Sort the list in ascending order
ascending_list = sorted(fruit_list)

# Sort the list in descending order
descending_list = sorted(fruit_list, reverse=True)

# Copy the sorted lists (creating new lists, not just references)
ascending_list_copy = ascending_list[:]
descending_list_copy = descending_list[:]

# Print both lists
print("Ascending list:", ascending_list_copy)
print("Descending list:", descending_list_copy)

# Verify that the ascending list is smaller (lexicographically)
if ascending_list_copy < descending_list_copy:
    print("Ascending list is lexicographically smaller than the descending list.")
else:
    print("Ascending list is not lexicographically smaller than the descending list.")

Ascending list: ['apple', 'banana', 'grape', 'orange']
Descending list: ['orange', 'grape', 'banana', 'apple']
Ascending list is lexicographically smaller than the descending list.

**List Length and Slicing**

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "tangerin", "fig"]

# Print the length of the list
print("Length of the list:", len(fruits))

# Slice out the middle two items
middle_two = fruits[2:4]  # Index 2 (cherry) to index 4 (exclusive)
print("Middle two fruits:", middle_two)

# Experiment with different slice ranges:
# First three items
first_three = fruits[0:3]
print("First three fruits:", first_three)

# Last three items
last_three = fruits[-3:] # From the third element from the end to the end
print("Last three fruits:", last_three)

# Every other item
every_other = fruits[::2] # From the start to the end, step by 2.
print("Every other fruit:", every_other)

# The list reversed
reversed_list = fruits[::-1]
print("Reversed list:", reversed_list)

# Items from index 1 to 4 (exclusive)
range_1_to_4 = fruits[1:4]
print("Fruits from index 1 to 3:", range_1_to_4)

Length of the list: 6
Middle two fruits: ['cherry', 'date']
First three fruits: ['apple', 'banana', 'cherry']
Last three fruits: ['date', 'elderberry', 'fig']
Every other fruit: ['apple', 'cherry', 'elderberry']
Reversed list: ['fig', 'elderberry', 'date', 'cherry', 'banana', 'apple']
Fruits from index 1 to 3: ['banana', 'cherry', 'date']

In [9]:
# Create a tuple with 3 cities
cities_tuple = ("Sydney", "London", "Tokyo")

# Print the tuple
print("Cities tuple:", cities_tuple)

# Try changing an item (this will raise an error)
try:
    cities_tuple[1] = "Paris"  # Attempting to change the second item
except TypeError as e:
    print(f"Error: {e}")

# Print the tuple (it will remain unchanged)
print("Cities tuple after attempting to change an item:", cities_tuple)

Cities tuple: ('Sydney', 'London', 'Tokyo')
Error: 'tuple' object does not support item assignment
Cities tuple after attempting to change an item: ('Sydney', 'London', 'Tokyo')

**Accessing Tuples**

In [11]:
# Create a tuple of 5 numbers
numbers_tuple = (10, 20, 30, 40, 50)

# Print the second and last items
print("Second item:", numbers_tuple[1])
print("Last item:", numbers_tuple[-1])

# Slice the first three items
first_three_slice = numbers_tuple[:3]
print("First three items (slice):", first_three_slice)

# Comparison to list slicing
print("\nComparison to list slicing:")

# Create a list for comparison
numbers_list = [10, 20, 30, 40, 50]
list_slice = numbers_list[:3]

print(f"Tuple slice: {numbers_tuple[:3]}")
print(f"List slice: {numbers_list[:3]}")

Second item: 20
Last item: 50
First three items (slice): (10, 20, 30)

Comparison to list slicing:
Tuple slice: (10, 20, 30)
List slice: [10, 20, 30]

**Tuples vs. Lists**

In [12]:
# Create a list with 4 items
my_list = ["apple", "banana", "cherry", "date"]

# Convert the list to a tuple
my_tuple = tuple(my_list)

# Print the list and the tuple
print("List:", my_list)
print("Tuple:", my_tuple)

# Try modifying the list
my_list[0] = "apricot"
print("Modified List:", my_list)

# Try modifying the tuple (this will cause an error)
my_tuple[0] = "apricot"

#Print the tuple again to show it was not modified.
print("Tuple after attempted modification:", my_tuple)

List: ['apple', 'banana', 'cherry', 'date']
Tuple: ('apple', 'banana', 'cherry', 'date')
Modified List: ['apricot', 'banana', 'cherry', 'date']

TypeError: 'tuple' object does not support item assignment

**Accessing Dictionary Values**

In [16]:
# Create a dictionary with 3 key-value pairs
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "Sydney"
}

# Print the dictionary
print(my_dict)

# Print one value by key
print("\nName:", my_dict["name"])

# Print all keys
print("\nAll keys:", my_dict.keys())

# Try a nonexistent key with .get()
print("\nTrying a nonexistent key with .get():")
print("Value for 'occupation':", my_dict.get("occupation"))  # Key doesn't exist, returns None
print("Value for 'occupation' with default:", my_dict.get("occupation", "Unknown"))  # Key doesn't exist, returns "Unknown"

{'name': 'Alice', 'age': 30, 'city': 'Sydney'}

Name: Alice

All keys: dict_keys(['name', 'age', 'city'])

Trying a nonexistent key with .get():
Value for 'occupation': None
Value for 'occupation' with default: Unknown

**Modifying Dictionaries**

In [ ]:
my_dict = {"name": "Ali", "age": 30}
print("Initial dictionary:", my_dict)

# Update a value
my_dict["age"] = 31
print("After updating age:", my_dict)

# Add a new key-value pair
my_dict["city"] = "Melbourne"
print("After adding city:", my_dict)

# Remove a key-value pair
del my_dict["name"]
print("After removing name:", my_dict)

Initial dictionary: {'name': 'Ali', 'age': 30}
After updating age: {'name': 'Ali', 'age': 31}
After adding city: {'name': 'Ali', 'age': 31, 'city': 'Melbourne'}
After removing name: {'age': 31, 'city': 'Melbourne'}

In [18]:
# Create a dictionary
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "Sydney"
}

# Print the dictionary's values
print("Dictionary values:", my_dict.values())

# Print the dictionary's items (key-value pairs)
print("Dictionary items:", my_dict.items())

# Clear the dictionary
my_dict.clear()

# Print the empty dictionary
print("Cleared dictionary:", my_dict)

Dictionary values: dict_values(['Alice', 30, 'Sydney'])
Dictionary items: dict_items([('name', 'Alice'), ('age', 30), ('city', 'Sydney')])
Cleared dictionary: {}

**Shopping List**

In [22]:
# Create a list of shopping items
items = ["milk", "bread"]
# Create a dictionary of prices
prices = {"milk": 2.5, "bread": 1.5}
# Print the initial lists
print("Initial shopping list:", items)
print("Initial prices:", prices)
# Add a third item and price
items.append("eggs")
prices["eggs"] = 3.0
# Print the updated lists
print("Updated shopping list:", items)
print("Updated prices:", prices)
# Access a specific entry using indexing and keys
print(f"Price of milk: {prices['milk']}")
print(f"Second item in list: {items[1]}")
# Calculate the total cost
total_cost = prices["milk"] + prices["bread"] + prices["eggs"]
print(f"Total cost: ${total_cost:.2f}")
# Share the total with a neighbor (simulated)
print("Sharing total cost with a neighbor...")
print("Neighbor says: \"The total cost is",total_cost, "\"")

Initial shopping list: ['milk', 'bread']
Initial prices: {'milk': 2.5, 'bread': 1.5}
Updated shopping list: ['milk', 'bread', 'eggs']
Updated prices: {'milk': 2.5, 'bread': 1.5, 'eggs': 3.0}
Price of milk: 2.5
Second item in list: bread
Total cost: $7.00
Sharing total cost with a neighbor...
Neighbor says: "The total cost is 7.0 "